<!DOCTYPE html>
<html>
<head>
  <title>EnCITEopedia</title>
<%= stylesheet_link_tag '/stylesheets/depot.css', :media => :screen %>
<%= stylesheet_link_tag    'scaffold', :media => :screen %> 
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tags %>
</head>
<body>

<h1>Website Policies</h1>


<p>The policies for the website are as follows:
</p>
</br>
<ul>
<li>
This website is free to use for everyone. However, to be and editor, one must provide a verifiable .edu or .org email address. 
</li>
</br>
<li>
This is acedemic content website. Please upload content only from acedemic journals, published books, accredited think-tanks, and government data. All other content will be deleted. In addition, users also have a duty to check for edition credibility, and remove any non-acedemic data.
</li>
</br>
<li>
Please avoid edit-wars.
</li>
</br>
<li>
Editors with significant negative thumbs will be given several warning notifications, and if trouble still presists, their account will be removed.
</li>

</ul>

</body>
</html>

